* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.7);
}
main {
  width: 80vw;
  border: 1px solid #000;
  margin: 50px auto;
  color: #fff;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.div1 {
  background: #c00;
}

.div2 {
  background: rgb(77, 230, 17);
}

.div3 {
  background: rgb(83, 4, 230);
}

.div4 {
  background: rgb(167, 221, 18);
}

.div5 {
  background: rgb(212, 14, 146);
  grid-row: 1/2;
  /* grid-column: 1/3; */
}

.div6 {
  background: rgb(25, 96, 161);
}
